<div class="container">
  <h2>Inventory</h2>

  @if (animals$ | async; as animalList) {
  <div class="ag-theme-alpine" style="height: 1000px; width: 100%;">
    <ag-grid-angular
      style="width: 100%; height: 100%;"
      class="ag-grid"
      [columnDefs]="columnDefs"
      [rowData]="animalList"
      [defaultColDef]="{ resizable: true }"
      domLayout="autoHeight"
      [animateRows]="true"
    ></ag-grid-angular>
  </div>
   } @else {
       <span>No, the server is not running</span>
   }
</div>
